@model Asignacion.Entidades.Horario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Horario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idhorario" />
            <div class="form-group">
                <label asp-for="horainicio" class="control-label"></label>
                <input asp-for="horainicio" class="form-control" />
                <span asp-validation-for="horainicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horafin" class="control-label"></label>
                <input asp-for="horafin" class="form-control" />
                <span asp-validation-for="horafin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iddiasemana" class="control-label"></label>
                <input asp-for="iddiasemana" class="form-control" />
                <span asp-validation-for="iddiasemana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

