@model Asignacion.Entidades.Grupo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Grupo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idhorario" class="control-label"></label>
                <input asp-for="idhorario" class="form-control" />
                <span asp-validation-for="idhorario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idasignatura" class="control-label"></label>
                <input asp-for="idasignatura" class="form-control" />
                <span asp-validation-for="idasignatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

