@model Asignacion.Entidades.ProgramaAsignatura

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProgramaAsignatura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idasignatura" class="control-label"></label>
                <select asp-for="idasignatura" class ="form-control" asp-items="ViewBag.idasignatura"></select>
            </div>
            <div class="form-group">
                <label asp-for="idprograma" class="control-label"></label>
                <select asp-for="idprograma" class ="form-control" asp-items="ViewBag.idprograma"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

